<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Shop{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    {% endblock %}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}
</head>
{% block header %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                    <img src="http://www.jbvirtuals.com/images/ecommerce.png" width="30" height="30" alt="">
                    </a>

                    <a class="navbar-brand" href="{{ path('shop_index') }}">Shop</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                        <li><a href="{{ path('products_all') }}">All products</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Categories
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in categories.categories %}
                                    <li><a href="{{ path('view_category', {id: category.id}) }}">{{ category.name|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if app.user %}
                            <li><a href="{{ path('products_add') }}">Add product</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        {% if app.user %}
                            <li><a href="#">
                                    <img class="user-pic" src="{{ asset('images/icons/cart.png') }}" alt="pic">
                                    <strong>Cart</strong> (0 items)
                                </a>
                            </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <strong>{{ app.user.username }}</strong>
                                <img class="user-pic" src="http://newtrend.bg/wp-content/uploads/2012/12/svetlin_nakov-e1355764014661.jpg" alt="pic">
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('security_logout') }}">Log out</a></li>
                            </ul>
                        </li>
                        {% else %}
                                {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                                <li><a href="{{ path('security_login') }}">Log In</a></li>
                                <li><a href="{{ path('user_register') }}">Register</a></li>
                        {% endif %}

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>

{% endblock %}

<body id="{% block body_id %}{% endblock %}">



    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
{% block content %}

{% endblock %}

{% block footer %}
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2017 - WebStore</p>
        </div>
    </footer>
{% endblock %}

</body>

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('js/npm.js') }}"></script>
{% endblock %}
</html>

