{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
        <h1>Products</h1>
        <hr>
        {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product">
                <div class="product-thumbnail center-block"
                     style="
                        background: url( {{ asset( product.image) }} );
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        ">
                </div>
                <h2><a class="product-title" href="{{ path('product_view', {id: product.id}) }}" target="_blank">{{ product.name }}</a>
            </h2>
            <p class="product-description">{{ product.summary }}</p>
            <p><strong>Price: </strong>${{ product.price }}</p>
            <p><strong>Quantity: </strong> {{ product.quantity }}</p>
            <p><strong>{{ product.owner.username }}</strong></p>
                <p><strong>Category: </strong>{{ product.category }}</p>
            <p><strong>In stock:</strong> {{ product.inStock ? 'yes' : 'no' }}</p>
            <p>{{ product.addedOn|date('d/m/Y h:m:s') }}</p>
            <a href="#" class="btn btn-success">
                Add to cart
            </a>
        </div>
        {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    </div>



{% endblock %}

