{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {% set product_promotion = calc.calculate(product)['price'] %}
        {% set percent = calc.calculate(product)['promotion'] %}

        <div class="row product-info">
            <div class="col-md-6">
                <img class="product-image-big" src="{{ asset(product.image) }}" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                {% if app.User() %}
                    {% if app.User.isAdmin() %}
                        <form method="post" action="{{ path('product_delete', {id: product.id}) }}">
                            <a class="btn btn-success" href="{{ path('product_edit', {id: product.id}) }}">Edit</a>
                            <input onclick="return confirm('Are you sure you want to delete {{ product.name }}?')" type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    {% else %}
                        {% if app.user.isEditor() %}
                            <a class="btn btn-success" href="{{ path('editor_edit', {id: product.id}) }}">Edit</a>
                        {% else %}
                            {% if app.user.isOwner(product) %}
                                <a class="btn btn-success" href="{{ path('profile_edit', {id: product.id}) }}">Edit</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                {% endif %}

                <h1>{{ product.name }}</h1>
                <p class="product-description-view">{{ product.description }}</p>
                <h5><strong>Added on:</strong> {{ product.addedOn|date('d-m-y') }}</h5>
                <strong>Price: </strong>
                {% if product_promotion != product.price %}
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">{{ percent }}% OFF</div></div>
                    <del>${{ product.price }}</del>
                {% endif %}
                ${{ product_promotion|number_format(2) }}
                <h5><strong>Owner:</strong> {{ product.owner.username }}</h5>
                <h5><strong>Status:</strong> {{ product.available ? 'On the market' : 'In stash' }}</h5>
                <h5><strong>Quantity:</strong> {{ product.quantity }}</h5>

                {% if app.user and app.User().isOwner(product) %}
                {% else %}
                    <form method="post" action="{{ path('add_to_cart', {id: product.id}) }}">
                        <input type="submit" class="btn btn-primary" value="Add to cart">
                    </form>
                {% endif %}
                </div>
        </div>

        <h1 class="comments">Comments</h1>
        <hr>
        {% include 'comment.html.twig' %}
    </div>


{% endblock %}

